#cabecalho { 
    background-color: #6175f0;
	color: white;
 }
 
 img#unicornio{
	float: left;
	margin: 13px;
	width: 310px;
	padding-top: 13px;
    padding-right: 13px;	
 }
 
h1{
	size: 36px;
	font-family: 'Kaushan Script', cursive;
}

h2:nth-of-child(1) {
	color: white;
    background: #ff0000;
	size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times;
	font-weight: normal;
}
 #verdade h2 {
	color: black;
	size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times;
	font-weight: normal;
}
 
#hoje { 
    background-color: #f8cef7;
    text-align: left;
    width: 300px;
    padding: 25px;
    border: 1px; 
    border-style: solid;
    border-color: #ff56fb;
    margin: 25px;
	float: left; 
 }
 
 #verdade{	
 	color: black;
	size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times;
 }
//white-space preline (musica) 